doctype html
html(lang="en")
    head
        include partials/head
    body 
        header.barra
            h1 UpTask - Gestor de tareas 
            a(href="#") Cerrar Sesion 

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/proyect/add" class="boton") AGREGAR
                        span +
                .panel.lista-proyectos
                    h2 Proyectos 
                    ul#proyectos.proyectos
                        if(proyects.length)
                            each proyect in proyects
                                li
                                    a(href=`/proyects/${proyect.url}`) #{proyect.name}
            block content

        script(src="/dist/bunfle.js")