extends ../layout

block content
    .contenido-principal
        h1 #{proyect.name}

        //TODO - Formulario de tareas

        //TODO - Listado de pendientes

        .contenedor-acciones
            a(href=`/proyect/${proyect.id}/edit` class="boton") Editar Proyecto
            button#eliminar-proyecto(type="button" class="boton eliminar") Eliminar Proyecto